<ion-header>
  <ion-toolbar>
    <ion-title>Generador de QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Programación web - sección 005v</ion-card-title>
      
    </ion-card-header>
  </ion-card>
  <div class="imagen">
    <icon-card>
      <img src="assets/QR.JPG" class="ion-padding">
    </icon-card>
  </div>  
<div class="action-button ion-padding">
  <ion-button  type="submit" class="login-button"
              size="large" class="login-button" routerLink="/bienvenido" >
              Volver
  </ion-button>
</div> 

</ion-content>
