<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/crear-qr"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Genere su QR</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <p class="parrafo">
        Profavor seleccione la clase que corresponda:
      </p>
    </ion-card-content>

  </ion-card>
  <div class="select" class="combo">
    <select name="select" class="centro">
      <option value="value1"selected>Asignaturas</option>
      <option value="value2" >Programación Algoritmos</option>
      <option value="value3">Desarrollo software escritorio</option>
      <option value="value4">Programación Web</option>
      <option value="value5">Programación Aplicaciones móviles</option>
    </select>
  </div>  
  
  <div class="action-button ion-padding">
    <ion-button  type="submit" class="login-button"
                size="large" class="login-button" routerLink="/generar-qr" >
                Crear
    </ion-button>
  </div> 

</ion-content>
