<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-section ion-padding">
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text"
                        name="nombre" [(ngModel)]="usuario.nombre" required></ion-input>
          </ion-item>
        </div>
        <div class="form-input"> 
          <ion-item>
            <ion-label position="floating">Rut</ion-label>
            <ion-input type="text" 
                        name="rut" [(ngModel)]="usuario.rut" required></ion-input>
          </ion-item>
        </div>   
        <div class="form-input">  
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" 
                        name="email" [(ngModel)]="usuario.email" required></ion-input>
          </ion-item>
        </div>   
        <div class="form-input">  
          <ion-item>
            <ion-label position="floating">Celular</ion-label>
            <ion-input type="tel" 
                        name="celular" [(ngModel)]="usuario.celular" required ></ion-input>
          </ion-item>
        </div>   
        <div class="form-input">  
          <ion-item>
            <ion-label position="floating">Sede</ion-label>
            <ion-input type="text" 
                        name="sede" [(ngModel)]="usuario.sede" required></ion-input>
          </ion-item>
        </div>   
        <div class="form-input">  
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" 
                        name="email" [(ngModel)]="usuario.password" required></ion-input>
          </ion-item>
        </div>   
        <div class="form-input">  
          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" 
                        name="email" [(ngModel)]="usuario.password2" required></ion-input>
          </ion-item>
        </div> 

        <div class="action-button ion-padding">
          <ion-button  type="submit" class="login-button" [disabled]="formulario.invalido"
                      size="large" class="login-button" routerLink="/inicio" (click)="Saludo()">
                      Enviar
          </ion-button>
        </div>

      </div>    
    </form>
  </div>  
</ion-content>
