<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Olvidaste tu contraseña</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <p class="parrafo">
        Ingresa tu correo electrónico o numero de celular para que te enviemos una contraseña temporal.
      </p>
    </ion-card-content>

  </ion-card>

  <div class="login-form ion-padding">
    <div class="form-input">
      <ion-icon name="person-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">Email o Celular</ion-label>          
        <ion-input type="email"
                    name="email" required
        ></ion-input>
      </ion-item>
    </div>
    <div class="action-button ion-padding">
      <ion-button  type="submit" class="login-button"
                  size="large" class="login-button" routerLink="/inicio" (click)="Saludo()">
                  Enviar correo
      </ion-button>
    </div>  
  </div>  
  

</ion-content>
